<?xml version="1.0"?>
<phpunit bootstrap="testsBootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite>
            <directory>./../Php</directory>
        </testsuite>
    </testsuites>
</phpunit>
